# GIT ignores for the project

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Precompiled headers
*.ipch
*.pch

# Microsoft Visual Studio support files
*.idb
*.ilk
*.pdb
*.sdf
*.suo
*.vcxproj.user

# Logs
*.tlog
*.log